.app-layout__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-layout__menu {
  margin: 0;
}

.app-layout__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.app-layout__content-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  overflow: auto;
}
